<div class="playlist-preview-row" {{action "addTrackToPlaylist"}}>
  <span class="playlist-preview-name">{{playlist.name}}</span>
  <button class="add-to-playlist-button">
    {{fa-icon "plus"}}
  </button>
</div>