<td>
{{track.order}}.
</td>
<td>
  {{#link-to "track.index" track}}
    {{track.title}}
  {{/link-to}}
</td>
<td>
  {{#each track.artists as |artist|}}
    {{#link-to "artist.index" artist}}
      {{artist.name}},
    {{/link-to}}
  {{/each}}
</td>
<td>
  {{track.time}}
</td>
<td>
  <div class="album-preview-controls">
    {{#if track.playing}}
      <div class="album-preview-control play-button playing" {{action "pauseTrack"}}>
        {{fa-icon "pause"}}
      </div>
    {{else}}
      <div class="album-preview-control play-button {{if track.loading "loading"}}" {{action "playTrack"}}>
        {{fa-icon "play"}}
      </div>
    {{/if}}
    <div class="album-preview-control">
      <a href={{track.originalSource}} download>
        {{fa-icon "download"}}
      </a>
    </div>
  </div>
</td>