<div class="content">
  <div class="content-main">
    <div class="album-index">
      <div class="album-index-left">
        <img src={{album.albumArtThumb}} class="album-art">
        <div class="default-button">

        </div>
      </div>
      <div class="album-index-right">
        <div class="album-index-title">
          <h1>{{album.title}}</h1>
          {{#each album.artists as |artist|}}
            {{#link-to "artist.index" artist.id}}
              <span class="album-index-artist">{{artist.name}}, </span>
            {{/link-to}}
          {{/each}}
        </div>
        <div class="album-index-tracks">
          <table class="album-index-tracks-table" rules="none">
            <tr>
              <th>
              </th>
              <th class="tracks-table-title">
                Name
              </th>
              <th>
                Artists
              </th>
              <th>
                Time
              </th>
              <th>

              </th>
            </tr>
              {{#each album.orderedTracks as |track|}}
                {{album-preview-track track=track}}
              {{/each}}
          </table>
        </div>
      </div>
    </div> 
  </div>
</div>