<article class="album-preview-container">
  <div class="album-preview-header">
    <div class="album-preview-header-left">
      {{#link-to "album.index" album}}
        <img src={{album.albumArtThumb}} class="album-preview-art">
      {{/link-to}}
      {{#if session.isAuthenticated}}
        <a href={{albumDownloadLink}} download {{action "downloadAlbum"}}>
          <span class="album-download">
            {{fa-icon "download"}}
          </span>
        </a>
      {{/if}}
    </div>
    <div class="album-preview-header-details">
      {{#link-to "album.index" album}}
        <h1>{{album.title}}</h1>
      {{/link-to}}
      {{#each album.artists as |artist|}}
        {{#link-to "artist.index" artist.id}}
          <span class="album-preview-artist">{{artist.name}}, </span>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="album-preview-tracks">
    <table class="album-preview-tracks-table" rules="none">
      <tr>
        <th>
        </th>
        <th class="tracks-table-title">
          Name
        </th>
        <th>
          Artists
        </th>
        <th>
          Time
        </th>
        <th>

        </th>
      </tr>
      {{#each album.orderedTracks as |track|}}
        {{album-preview-track track=track}}
      {{/each}}
    </table>
  </div>
</article>