<div class="content padded--top">
  <h1>{{artist.name}}</h1>

  <div class="trackPreviews__container padded--top">
    {{#each artist.tracks as |track|}}
      {{track-preview track=track}}
    {{/each}}
  </div>
</div>