<form {{action "createPost" on="submit"}}>
  {{input value=title enter="createPost" placeholder="Title"}}
  {{textarea value=description enter="createPost" placeholder="Description"}}
  <button {{action "createPost"}}>
    Create Post
  </button>
</form>