Create New Playlist:
<form {{action "createPlaylist" on="submit"}}>
  <div class="create-playlist-row">
    {{input value=name placeholder="Name"}}
    <button class="create-playlist-button {{if canCreatePlaylist "" "disabled"}}" {{action "createPlaylist"}}>
      Create
    </button>
  </div>
</form>