<div class="header" style={{bodyStyle}}>
  {{#link-to "application"}}
    <span class="nav__logo">animemusic.moe</span>
  {{/link-to}}
  {{nav-search}}
  {{#if session.isAuthenticated}}
    {{user-nav-control}}
  {{else}}
    {{sign-in-control}}
  {{/if}}
</div>