{{#link-to "lastListenedTo"}}
  <h1 class="index-heading">Last listened to on animemusic:</h1>
{{/link-to}}
<div class="trackPreviews__container last-listened-to-previews">
  {{#each tracks as |track index|}}
    {{track-preview track=track position=index}}
  {{/each}}
</div>