<h1 class="index-heading">Last listened to on animemusic:</h1>
<div class="trackPreviews__container">
  {{#each tracks as |track index|}}
    {{track-preview track=track position=index}}
  {{/each}}
</div>