<audio id="hibikiplayer" src={{track.source}} controls>
</audio>
<div class="player-sidebar">
  <div class="player-album-art">
    <img src={{track.album.albumArtThumb}} class="album-art">
    {{#link-to "track.index" track}}
    <div class="player-album-controls">

    </div>
    {{/link-to}}
  </div>
  <div class="player-track-details">
    <div class="track-name-title">
      {{#link-to "track.index" track}}
        <span>{{track.title}}</span>
      {{/link-to}}
    </div>
    <div class="track-album-title">
      {{#link-to "album.index" track.album.id}}
        <span>{{track.album.title}}</span>
      {{/link-to}}
    </div>
  </div>
  <div class="player-duration" onclick={{action "seek"}}>
    <div class="player-duration-marker" style={{durationPlayerStyle}}>

    </div>
    <div class="player-duration-background"></div>
  </div>
  <div class="player-time-marker">
    <span class="track-current-time">
      {{currentTimeFormatted}}
    </span>
    <span class="track-total-time">
      {{track.time}}
    </span>
  </div>
  <div class="player-controls">
    <div class="player-control" {{action "previousTrack"}}>
      {{fa-icon "step-backward"}}
    </div>
    {{#if track.playing}}
      <div class="player-control play-button" {{action "pause"}}>
        {{fa-icon "pause"}}
      </div>
    {{else}}
      <div class="player-control play-button {{if track.loading "loading"}}" {{action "playTrack"}}>
        {{fa-icon "play"}}
      </div>
    {{/if}}
    <div class="player-control" {{action "nextTrack"}}>
      {{fa-icon "step-forward"}}
    </div>
  </div>
  <div class="player-subcontrols">
    {{#if addingToPlaylist}}
      {{add-track-to-playlist track=track}}
    {{/if}}
    <div class="player-subcontrol {{if repeat "active"}}" {{action "toggleRepeat"}}>
      {{fa-icon "repeat"}}
    </div>
    <a href={{track.originalSource}} download>
      <div class="player-subcontrol">
        {{fa-icon "download"}}
      </div>
    </a>
    <div class="player-subcontrol" {{action "toggleAddToPlaylist"}}>
      {{fa-icon "plus"}}
    </div>
    {{#if track.liked}}
      <div class="player-subcontrol" {{action "unlikeTrack"}}>
        {{fa-icon "heart"}}
      </div>
    {{else}}
      <div class="player-subcontrol" {{action "likeTrack"}}>
        {{fa-icon "heart-o"}}
      </div>
    {{/if}}
    <a href={{twitterURL}}>
      <div class="player-subcontrol">
        {{fa-icon "twitter"}}
      </div>
    </a>
    <div class="player-subcontrol player-volume">
      <div class="player-volume-bar">
        <div class="player-volume-bar-container" onclick={{action "setVolume"}}>
          <div class="player-volume-bar-set" style={{volumeBarStyle}}></div>
          <div class="player-volume-bar-background"></div>
        </div>
      </div>
      <div class="player-volume-holder" {{action "toggleMute"}}>
        {{#if muted}}
          {{fa-icon "volume-off"}}
        {{else}}
          {{fa-icon "volume-up"}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="player-playlist-holder">
    {{now-playing-tracklist trackList=trackList position=position}}
    <div class="player-playlist-cover">

    </div>
  </div>
</div>