<audio id="hibikiplayer" src={{track.source}} controls>
</audio>
<div class="player__container">
  <div class="content">
    <div class="player__controls">
      <div class="player__icon" {{action "previousTrack"}}>
        {{fa-icon "step-backward"}}
      </div>
      {{#if track.playing}}
        <div class="player__icon playButton" {{action "pause"}}>
          {{fa-icon "pause"}}
        </div>
      {{else}}
        <div class="player__icon playButton" {{action "playTrack"}}>
          {{fa-icon "play"}}
        </div>
      {{/if}}
      <div class="player__icon" {{action "nextTrack"}}>
      {{fa-icon "step-forward"}}
      </div>
      <div class="player__timeElapsed">
        {{currentTimeFormatted}}
      </div>
      <div class="player__duration" onclick={{action "seek"}}>
        <div class="player__durationMarker" style={{durationPlayerStyle}}>

        </div>
        <div class="player__durationBackground"></div>
      </div>
      <div class="player__time">
        {{track.time}}
      </div>
      <div class="player__volume">
        <div class="player__volumeBar">
          <div class="player__volumeBarContainer" onclick={{action "setVolume"}}>
            <div class="player__volumeBarSet" style={{volumeBarStyle}}>
            </div>
            <div class="player__volumeBarBackground">

            </div>
          </div>
          
        </div>
        <div class="player__volumeHolder" {{action "toggleMute"}}>
          {{#if muted}}
            {{fa-icon "volume-off"}}
          {{else}}
            {{fa-icon "volume-up"}}
          {{/if}}
        </div>
      </div>
      <div class="player__album">
        {{#if track.album}}
          {{#link-to "album.index" track.album.id}}
            <img class="albumArt--small" src={{track.album.albumArtThumb}} alt="">
          {{/link-to}}
        {{/if}}
      </div>
      <div class="player__title">
        {{#link-to "track.index" track}}
          <span>{{track.title}}</span>
        {{/link-to}}
        {{#link-to "album.index" track.album.id}}
          <span class="thin">{{track.album.title}}</span>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>