<h1 class="index-heading">{{playlist.name}}</h1>
<div class="trackPreviews__container">
  {{#each playlist.tracks as |track index|}}
    {{track-preview track=track position=index}}
  {{/each}}
</div>