<button class="signIn__button" {{action "toggleSignIn"}}>
  Sign In
</button>
{{#if signingIn}}
  <div class="signIn__controls form__container">
    <form {{action "authenticate" on="submit"}}>
      {{input value=email enter="authenticate" placeholder="Email" key-up="validate" class="signIn__email"}}
      {{input value=password type="password" enter="authenticate" placeholder="Password" key-up="validate"}}
      <button class="signIn__button" {{action "authenticate"}}>
        {{#if waiting}}
          <i class="fa fa-spinner fa-spin"></i>
        {{else}}
          Sign In
        {{/if}}
      </button>
    </form>
  </div>
{{/if}}