<div class="signUp__controls form__container">
  <h1>Anime music for everyone.</h1>
  <form {{action "signUp" on="submit"}}>
    {{input value=email enter="signUp" placeholder="Email" key-up="validate" classBinding="emailTaken:error"}}
    {{input value=password type="password" enter="signUp" placeholder="Password" key-up="validate"}}
  </form>
  <button class="signUp__button" {{action "signUp"}}>
    {{#if waiting}}
      <i class="fa fa-spinner fa-spin"></i>
    {{else}}
      Sign Up Now
    {{/if}}
  </button>
</div>