<div class="trackPreview__control {{if track.playing "playing"}} {{if track.loading "playing"}}">
  {{#if track.playing}}
    <div class="trackPreview__controlAction" {{action "pauseTrack" bubbles=false}}>
      {{fa-icon "pause"}}
    </div>
  {{else}}
    <div class="trackPreview__controlAction {{if track.loading "loading"}}" {{action "playTrack" bubbles=false}}>
      {{fa-icon "play"}}
    </div>
  {{/if}}
</div>
{{#link-to "track.index" track}}
  <div class="trackPreview__controls {{if track.playing "playing"}}">
    {{#if track.liked}}
      <div class="trackPreview__likeButton active" {{action "unlikeTrack" bubbles=false}}>
        {{fa-icon "heart"}}
      </div>
    {{else}}
      <div class="trackPreview__likeButton" {{action "likeTrack" bubbles=false}}>
        {{fa-icon "heart-o"}}
      </div>
    {{/if}}
  </div>
{{/link-to}}
  <div class="track-preview-add-to-playlist {{if track.playing "playing"}}">
    <button class="wrapper" {{action "toggleAddToPlaylist"}}>
      {{fa-icon "plus"}}
    </button>
    {{#if addingToPlaylist}}
      {{add-track-to-playlist track=track}}
    {{/if}}
  </div>
{{#link-to "track.index" track}}
  <img class="trackPreview__image" src={{track.album.albumArtThumb}}>
  <div class="trackPreview__information">
    <h1 class="trackPreview__title">{{track.title}}</h1>
    <h2 class="trackPreview__album">{{track.album.title}}</h2>
  </div>
  <div class="trackPreview__gradient"></div>
{{/link-to}}