<div class="content">
  <div class="content-main">
    <div class="album-index-title">
      <h1>{{track.title}}</h1>
      {{#each track.artists as |artist|}}
        {{#link-to "artist.index" artist.id}}
          <span class="album-index-artist">{{artist.name}}, </span>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="track-index-controls">
      {{#if track.playing}}
        <div class="track-index-control play-button" {{action "pauseTrack"}}>
          {{fa-icon "pause"}}
        </div>
      {{else}}
        <div class="track-index-control play-button {{if track.loading "loading"}}" {{action "playCurrentTrack"}}>
          {{fa-icon "play"}}
        </div>
      {{/if}}
      {{#if track.liked}}
        <div class="track-index-control" {{action "unlikeTrack"}}>
          {{fa-icon "heart"}}
        </div>
      {{else}}
        <div class="track-index-control" {{action "likeTrack"}}>
          {{fa-icon "heart-o"}}
        </div>
      {{/if}}
      <a href={{track.originalSource}} download>
        <div class="track-index-control">
          {{fa-icon "download"}}
        </div>
      </a>
      <a href={{twitterURL}}>
        <div class="track-index-control">
          {{fa-icon "twitter"}}
        </div>
      </a>
      <div class="track-index-shareable">
        {{input id="track-index-share-id" value=trackPermalink data-clipboard-text=trackPermalink}}
        <button class="track-index-share-button" data-clipboard-target="#track-index-share-id">{{fa-icon "copy"}}</button>
      </div>
    </div>
    <div class="track-index-content">
      <div class="track-index-album">
        {{album-preview album=track.album track=track}}
      </div>
      <div class="track-index-lyrics">
        {{{track.rawLyrics}}}
      </div>
    </div>
  </div>
</div>