<span class="actionable" {{action "toggleDropdown"}}>{{currentUser.user.username}}</span>
{{#if viewingDropdown}}
  <div class="nav__dropdown">
    <span class="actionable dropdown__control" {{action "logout"}}>Logout</span>
  </div>
{{/if}}