<div class="content">
  <div class="header__container">
    {{#if session.isAuthenticated}}
      <div class="header__controls">
        {{#link-to "index"}}
          <div class="header__control">
            Index
          </div>
        {{/link-to}}
        {{#link-to "likes"}}
          <div class="header__control">
            Your Likes
          </div>
        {{/link-to}}
        {{#link-to "playlists"}}
          <div class="header__control">
            Playlists
          </div>
        {{/link-to}}
      </div>
    {{else}}
      {{sign-up-control}}
    {{/if}}
    <div class="header__gradient">

    </div>
  </div>
</div>