body{
  font-family: $font__content;
  color: $color__font;
  background-color: $color__black;

  margin-bottom: 100px;

  overflow-y: scroll;

  min-width: 1200px;
}

h1,h2,h3,h4,h5,h6{
  color: white;
  margin: 0;
}
button{
  border: none;
}

a, a:hover, a:visited{
  color: white;
}
input{
  &.error{
    border: 1px solid red !important;
  }
}
a{
  text-decoration: none;

  transition: all 0.2s ease-in-out;
  &:hover{
    text-decoration: underline;
  }
}
.actionable{
  user-select: none;
  cursor: pointer;
}
.hidden{
  display: none;
}
.padded--top{
  padding-top: 24px;
}
.content{
  // margin: 0 auto;
  // width: 1240px;
}
.content__spacer{
  margin-top: 40px;
  margin-right: 250px;
}
.header{
  display: flex;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  background: linear-gradient(135deg, rgba(7, 36, 47, 0.85), rgba(27, 27, 27, 0));
  border-bottom: 1px solid rgba(7, 36, 47, 0.5);
}
.content__withSidebar{
  display: flex;
  width: 100%;

  .content__main{
    // width: 890px;
  }
}
.content__sidebar{
  width: 350px;
}
.ellipsis{
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
}
.nav__control{
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;

  height: 40px;
}
.header__nav{
  display: flex;
  align-items: center;

  width: 100%;
  position: fixed;
  top: 0;

  color: white;
  z-index: 999;

  a, a:hover{
    text-decoration: none;
  }

  .content{
    display: flex;
    align-items: center;
  
    height: 40px;
  
    background-color: $color__blue;
    border-bottom: 1px solid darken($color__darkerBlue, 15);
  
    padding: 0 12px;
    box-sizing: border-box;
  }
  .signIn__container{
    position: relative;

    margin-left: auto;
  }
}
.signUp__button{
  background-color: $color__blue;
  color: white;

  padding: 6px 12px;

  cursor: pointer;

  border-radius: 3px;
  font-size: 2em;
  width: 100%;

  margin-top: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font__heading;

  &.inverted{
    background-color: $color__blue;
    color: white;
  }
}
.signIn__button{
  background-color: white;
  color: $color__blue;

  padding: 6px 12px;

  cursor: pointer;

  border-radius: 3px;

  &.inverted{
    background-color: $color__blue;
    color: white;
  }
}
.nav__dropdown{
  position: absolute;
  top: 35px;
  right: 0;

  padding: 12px;
  background-color: rgba($color__blue, 0.7);
}
.dropdown__control{
  padding: 6px;
}
.signIn__controls{
  position: absolute;
  top: 35px;
  right: 0;

  padding: 12px;
  background-color: rgba($color__blue, 0.7);
}
.form__container{
  input[type="text"], input[type="password"]{
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 6px;

    margin-top: 12px;
  }

  .signIn__button{
    margin-top: 12px;
    width: 100%;
  }
}
.nav__logo{
  font-family: $font__heading;
  font-size: 28px;
}
.header__container{
  position: relative;

  height: 460px;
  width: 100%;

  background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.7));
  background-image: url('/assets/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header__title{
    position: absolute;
    bottom: 0;
    left: 12px;

    font-weight: 300;
    font-size: 5em;
    text-shadow: 2px 2px 2px #333;
    // font-family: 'Oswald', sans-serif;
    color: white;

    margin: 0;


    z-index: 2;
  }
  .gradient{
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1;
    bottom: 0;
  }
  .signUp__container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    position: relative;
    z-index: 2;
    .signUp__controls{
      margin-top: 200px;
      text-align: center;
    }
    h1{
      text-align: center;
      font-size: 3.5em;
      text-shadow: 1px 2px 2px #333;
    }
    input[type="text"], input[type="password"]{
      font-size: 1.5em;
      align-self: center;

      margin-right: 12px;
    }
  }
  .content{
    position: relative;
    height: 460px;
  }
}
.header__controls{
  position: absolute;
  bottom: 0;
  display: flex;

  z-index: 2;

  a, a:hover{
    text-decoration: none;
  }
  a.active{
    .header__control{
      border-bottom: 5px solid $color__blue;
    }
  }
}
.header__control{
  width: 100px;
  text-align: center;

  &:hover{
    border-bottom: 5px solid $color__blue;
  }
}
.header__gradient{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 150px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0),
  rgba(0,0,0,0.8));

}
.header__title{

}
.content-main{
  padding-top: 48px;
  padding-left: 140px;
}
.search-index{
  padding-top: 24px;
}
.nav-search{
  margin-left: 12px;

  input{
    padding: 4px;
    box-sizing: border-box;
    border-radius: 9px;
    border: none;
  }
}
button{
  outline: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.index-heading{
  padding: 25px;
}