#hibikiplayer {
  opacity: 0;
  position: absolute;
  z-index: -1;

  top: -99px;
  left: -99px;
}

.player__container{
  position: fixed;
  bottom: 0;

  height: 50px;
  width: 100%;
  background-color: $color__playerBg;;

  border-top: 1px solid rgba(0,0,0,0.15);
  z-index: 99;
}
.player__controls{
  display: flex;
  align-items: center;

  height: 50px;
}
.player__duration{
  position: relative;
  width: 500px;
  height: 50px;

  margin-right: 12px;
  overflow: hidden;

  cursor: pointer;

  &:hover{
    .player__durationMarker, .player__durationBackground{
      top: 23px;
      height: 5px;
    }
  }
}
.player__title{
  width: 350px;
  
 

  span{
    width: 350px;
    display: block;
    text-overflow: ellipsis;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
  }

  .thin{
    font-size: 12px;
    font-weight: 300;
    margin-top: 4px;
  }
  a{
    color: $color__font; 
  }
}
.player__placeholder{
  width: 223px;
}
.player__durationMarker{
  position: absolute;
  z-index: 2;
  top: 25px;

  height: 2px;
  width: 0;
  background-color: $color__blue;

  transition: all 200ms ease-in-out;
}
.player__durationBackground{
  position: absolute;
  z-index: 1;
  top: 25px;

  height: 2px;
  width: 100%;
  background-color: #ccc;

  transition: all 200ms ease-in-out;
}
.player__icon{
  display: flex;
  align-items: center;
  margin: 0 6px;
  margin-right: 24px;
  font-size: 24px;

  cursor: pointer;

  .fa-play{
    font-size: 31px;
  }
  .fa-pause{
    font-size: 29px;
  }

  &.playButton{
    width: 29px;
  }
}
.player__volume{
  position: relative;
  cursor: pointer;

  &:hover{
    .player__volumeBar{
      display: block;
    }
  }
}

.player__volumeBar{
  display: none;
  padding-right: 5px;
  padding-left: 5px;
  background-color: $color__playerBg;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.7);

  position: absolute;
  top: -201px;
  left: -5px;
  height: 200px;
  width: 15px;

  border-radius: 4px;

}
.player__volumeBarContainer{
  position: relative;
  height: 180px;
  width: 100%;
}
.player__volume{
  margin-right: 38px;
}
.player__volumeBarSet{
  position: absolute;
  left: 6px;
  bottom: 0;
  z-index: 3;
  max-height: 180px;
  width: 3px;

  background-color: $color__blue;

  transition: all 0.2s ease-in-out;
}
.player__volumeBarBackground{
  height: 180px;
  width: 3px;

  margin-top: 11px;
  margin-left: 6px;

  background-color: #ccc;
}
.player__volumeHolder{
  width: 20px;
}

.player__album{
  margin-right: 6px;
  width: 40px;
  img{
    border: 0;
  }

}
.player__time{
  font-size: 14px;
  font-weight: 300;
  width: 42px;
  margin-right: 24px;
}
.player__timeElapsed{
  font-size: 14px;
  font-weight: 300;
  width: 42px;
  margin-left: 24px;
}
.albumArt--small{
  height: 40px;
  width: 40px;
}
.player-header{
  display: flex;
  align-items: center;

  color: white;

  color: white;
  margin-top: -20px;
  margin-left: -20px;
  width: 250px;
  height: 40px;
  padding-left: 20px;
  padding-bottom: 4px;

  box-sizing: border-box;

  h1{
    font-family: $font__heading;
    font-size: 24px;
  }

  &.floating{
    position: fixed;

    box-sizing: border-box;
    margin: 0;
    z-index: 1;
  }
}
.player__sidebar{
  width: 250px;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;

  height: 100%;
  background-color: $color__lighterBlack;
  background: linear-gradient(135deg,rgba(27, 27, 27, 0),rgba(7, 36, 47, 0.85));

  z-index: 10000;
  overflow: hidden;
  transition: all 100ms ease-in-out;

  &.playing{
    width: 250px;

    .player-controls{
      display: flex;
    }
  }
  .player-controls{
    display: none;
  }
}

.player-sidebar{
  padding: 20px;

  color: $color__offWhite;
}
.player-album-art{
  position: relative;
  text-align: center;

  box-shadow: 0 0 10px rgba(0,0,0,.6);
  .album-art{
    height: 210px;
    width: 210px;
  }

  &:hover{
    .player-album-controls{
      display: block;
    }
  }
}
.player-album-controls{
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  height: 210px;
  width: 210px;
}
.player-track-details{
  padding: 18px 0 15px;
}

.track-name-title{
  color: #dfe0e6;
  font-size: 14px;
  font-weight: 700;

  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: 20px;
  line-height: 19px;
}
.track-album-title{
  font-size: 11px;
  font-weight: 300;
  color: #dfe0e6;

  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: 20px;
  line-height: 16px;
}
.player-duration{
  position: relative;
  width: 210px;
  height: 17px;

  margin-right: 12px;
  overflow: hidden;

  cursor: pointer;

  &:hover{
    .player-duration-marker, .player-duration-background{

    }
  }
}
.player-duration-background{
  position: absolute;
  z-index: 1;

  height: 4px;
  width: 100%;
  background-color: #ccc;

  border-radius: 4px;
  transition: all 100ms ease-in-out;
}
.player-duration-marker{
  position: absolute;
  z-index: 2;

  height: 4px;
  width: 0;
  background-color: $color__blue;

  border-radius: 4px;

  transition: all 100ms ease-in-out;
}
.player-time-marker{
  font-size: 11px;
}
.track-total-time{
  float: right;
}
.player-controls{
  display: flex;
  justify-content: center;;
  align-items: center;
}
.player-playlist-holder{
  position: relative;
}
.player-control{
  font-size: 36px;
  width: 40px;
  text-align: center;
  cursor: pointer;

  transition: all 100ms ease-in-out;
  
  &:hover{
    color: $color__blue;
  }
}
.player-control.play-button{
  display: flex;
  justify-content: center;
  align-items: center;


  color: white;

  height: 50px;
  width: 50px;
  border-radius: 28px;
  border: 3px solid white;

  margin: 0 25px;

  font-size: 28px;
  text-align: center;

  transition: all 100ms ease-in-out;

  cursor: pointer;

  .fa{

  }
  .fa-play{
    margin-left: 8px;
  }

  &:hover{
    background-color: rgba(0,0,0,0.9);
    border: 3px solid $color__blue;
  }
  &.loading{
    .fa{
      animation-name: player-bounce;
      animation-duration: 800ms;
      animation-iteration-count: infinite;
    }
  }
}
.player-playlist{
  position: relative;
  margin-top: 40px;
  height: 200px;
  overflow: hidden;
}
.player-playlist-cover{
  position: absolute;
  bottom: 0;

  height: 20px;
  width: 100%;
  filter: blur(4px);
}
.player-subcontrols{
  position: relative;
  display: flex;
  justify-content: flex-end;

  margin-top: 12px;
  font-size: 18px;

  a{
    color: $color__offWhite;
  }
}
.player-subcontrol{
  cursor: pointer;

  transition: all 100ms ease-in-out;
  margin-left: 12px;

  transition: $transition__bounce;
  &:hover{
    .fa{
      transform: scale(1.1);
    }
  }
  &.active{
    color: $color__blue;
  }
}
.now-playing-tracklist-track{
  display: flex;
  align-items: center;

  font-size: 13px;
  height: 30px;

  padding: 0 6px;

  cursor: pointer;

  transition: all 100ms ease-in-out;

  &.playing{
    font-weight: 700;
    color: white;
  }
  &:hover{
    font-weight: 700;
    color: white;
  }
}

.tracklist-title{
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
}
.tracklist-control{
  font-size: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.player-volume{
  position: relative;
  cursor: pointer;

  &:hover{
    .player-volume-bar{
      height: 25px;
    }
  }
}

.player-volume-bar{
  height: 0;
  padding-right: 5px;
  padding-left: 5px;
  background-color: $color__black;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.7);

  position: absolute;
  right: 0;
  top: 24px;
  width: 200px;

  border-radius: 4px;
  overflow: hidden;

  transition: all 200ms ease-in-out;
}
.player-volume-bar-container{
  position: relative;
  height: 25px;
  width: 100%;
}
.player-volume-bar-set{
  position: absolute;
  z-index: 3;

  height: 10px;
  width: 100%;
  max-width: 200px;
  background-color: $color__blue;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;
}
.player-volume-bar-background{
  height: 10px;
  width: 200px;
  margin-top: 7px;
  border-radius: 4px;
  background-color: #ccc;
}
.player-volume-holder{
  width: 20px;
}
.album-index-header{
  display: flex;

  padding-top: 24px;

  .album-art{
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin-right: 24px;
  }
  .album-index-title{

  }
  h1{
    margin-bottom: 12px;
  }
  a{
    .album-index-artist{
      color: $color__offWhite;
      margin-right: 6px;
    }
  }
}
.album-index-artist{
  font-weight: 300;
}
.album-track{
  display: flex;
}

.add-track-to-playlist-wrapper{
  position: absolute;
  top: 25px;

  width: 210px;
  padding: 12px;
  box-sizing: border-box;

  background-color: white;
  color: $color__font;
  font-size: 16px;
  z-index: 2;

  animation: slide-down 200ms forwards;
}
.create-playlist-wrapper{
  margin-top: 12px;
  font-size: 18px;
}
.create-playlist-row{
  display: flex;

  font-size: 12px;
  margin-top: 6px;
  input{
    box-sizing: border-box;
    width: 75%;
    padding: 6px;
  }
  button{
    width: 25%;

    background-color: $color__blue;
    color: white;

    transition: $transition__linear;

    &:hover{
      background-color: $color__darkerBlue;
    }
  }
}
.heading{
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
}
.playlist-preview-row{
  display: flex;
  cursor: pointer;
  padding: 3px;

  &:hover{
    background-color: $color__blue;
    color: white;

    .fa{
      color: white;
    }
  }
  .add-to-playlist-button{
    margin-left: auto;
  }
}
.playlist-preview-name{
  display: block;
}
.add-to-playlist-button{
  display: block;
}
.disabled{
  filter: grayscale(1);
  cursor: not-allowed;
}
.playlists-index{
  padding: 25px;
}