.trackIndex__title{
  color: white;
  
  h1{
    margin: 0;
  }
  h2{
    font-size: 1.2em;
    font-weight: 300;
    margin: 6px 0;
  }

}
.trackIndex__controlsContainer{
  position: relative;
}
.trackIndex__controls{
  position: absolute;
  top: 100px;
  left: 115px;
}
.trackIndex__lyrics{
  margin-top: 24px;
  color: $color__fontInverted;
}
.trackIndex__artists{
  margin-top: 48px;
  padding-top: 12px;
  color: $color__fontInverted;
  font-size: 15px;

  border-top: 1px solid rgba(255,255,255,0.6);
}
.album__trackPreviews{
  width: 300px;
  margin-top: 12px;
}
.trackPreview__long{
  display: flex;
  width: 300px;
  height: 40px;


  align-items: center;
  box-sizing: border-box;

  color: $color__fontInverted;
  overflow: hidden;

  font-size: 15px;

  &.playing{
    a, a:hover{
      font-weight: 700;
      color: white;
    }

    .longPreview__control{
      background-color: white;

      .fa{
        color: $color__blue;
      }
    }
  }
  a{
    text-decoration: none;
    color: $color__offWhite;
  }
  a:hover{
    text-decoration: underline;
    color: $color__white;
  }
}
.longPreview__details{
  display: flex;
  align-items: center;
  width: 255px;
  height: 40px;
  margin-left: 12px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.longPreview__controls{
  width: 20px;
  margin-left: 12px;
}
.longPreview__control{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  background-color: $color__blue;
  height: 20px;
  width: 20px;
  border-radius: 10px;

  .fa-pause{
    margin-left: 1px;
    margin-top: -1px;
    font-size: 9px;
  }
  .fa-play{
    font-size: 12px;
    margin-left: 4px;
  }
}
.content{
  .trackPreviews__container{
    margin-left: 12px;
  }
}
.trackPreviews__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .trackPreview__container{
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 52px;
  }

  &.last-listened-to-previews{
    height: 215px;
    overflow: hidden;
  }
}
.trackPreview__image{
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
}
.trackPreview__controls{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 200px;
  width: 200px;

  display: none;

  z-index: 3;

  background-color: rgba(0,0,0,0.6);

  &.playing{
    display: block;
  }
}
.trackPreview__container{
  position: relative;
  height: 200px;
  width: 200px;

  cursor: pointer;

  .trackPreview__gradient{
    position: absolute;
    bottom: 0;

    height: 150px;
    width: 100%;
    z-index: 1;

    background: linear-gradient(to bottom, rgba(0,0,0,0),
  rgba(0,0,0,0.7));
  }

  .trackPreview__information{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    padding: 6px;

    font-size: 15px;
    color: $color__fontInverted;

  }
  h1{
    margin: 0;
    font-size: 15px;
  }
  h2{
    margin: 0;
    font-size: 12px;
  }
  a, a:hover{
    text-decoration: none;
  }
  &:hover{
    .trackPreview__control{
      display: block;
    }
    .trackPreview__controls{
      display: block;
    }
    .track-preview-add-to-playlist{
      display: block;
    }
  }
}
.trackPreview__likeButton{
  font-size: 22px;

  position: absolute;
  top: 84px;
  left: 27px;
  height: 30px;
  width: 30px;

  text-align: center;
  transition: all 0.1s ease-in-out;

  &:hover{
    animation-duration: 200ms;
    animation-name: bounce;
  }
}
.track-preview-add-to-playlist{
  position: absolute; 
  font-size: 22px;
  color: white;
  top: 85px;
  right: 37px;

  display: none;
  z-index: 3;

  .fa{
    color: white;
  }

  &:hover{
    animation-duration: 200ms;
    animation-name: bounce;
  }
  &.playing{
    display: block;
  }
}
.trackPreview__controlAction{
  height: 60px;
  width: 60px;

  &.loading{
    .fa{
      animation-name: track-preview-bounce;
      animation-duration: 800ms;
      animation-iteration-count: infinite;
    }
  }
}
.trackPreview__control{
  position: absolute;
  z-index: 5;

  top: 65px;
  left: 65px;

  display: flex;
  justify-content: center;
  align-items: center;


  color: white;

  height: 60px;
  width: 60px;
  border-radius: 33px;
  border: 3px solid white;

  font-size: 28px;
  text-align: center;
  display: none;

  transition: all 100ms ease-in-out;
  
  &.playing{
    display: block;
  }

  .fa{
    margin-top: 17px;
  }
  .fa-play{
    margin-left: 8px;
  }

  &:hover{
    background-color: rgba(0,0,0,0.9);
    border: 3px solid $color__blue;
  }
}

.index__tracks{
  margin-top: 36px;
}

.track__albumArt{
  width: 100px;
  height: 100px;

  border-radius: 2px;
}

.play__button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 12px;
  background-color: $color__blue;

  .fa-play{
    color: white;
    font-size: 38px;

    margin-left: 8px;
  },
  .fa-pause{
    color: white;
    font-size: 38px;
    margin-left: 0;
  }
}
.track-index-album-controls-container{
  display: flex;
  width: 300px;

  .track-album-art{
    min-width: 100px;
    margin-right: 12px;
  }
}
.track-album-art{
  width: 100px;
  height: 100px;
}
.track-index-album{
  font-size: 14px;
}
.long-preview-order{
  margin-right: 12px;
}
.content__sidebar{
  a{
    color: $color__offWhite;
  }
  a:hover{
    color: $color__white;
  }
}
.track-index-controls{
  display: flex;
  margin-top: 12px;
}
.track-index-shareable{
  display: flex;
  align-items: center;

  input{
    padding: 4px;

    font-size: 13px;
    box-sizing: border-box;
    height: 30px;
    width: 300px;
  }
}
.track-index-share-button{
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  height: 30px;

  &:hover{
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee,#ddd);
    border-color: #ccc;
  }
}
.track-index-control{
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-right: 8px;

  color: white;

  font-size: 18px;

  height: 40px;
  width: 40px;
  box-sizing: border-box;

  text-align: center;

  transition: all 100ms ease-in-out;


  &:hover{
    color: $color__blue;
  }

  &.play-button{
    color: white;

    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 3px solid white;

    font-size: 18px;
    text-align: center;

    transition: all 100ms ease-in-out;

    cursor: pointer;

    .fa-play{
      margin-left: 4px;
    }

    &:hover{
      background-color: rgba(0,0,0,0.9);
      border: 3px solid $color__blue;
    }
  }
}
.album-index-title{
  h1{
    margin-bottom: 12px;
  }
  a, a:hover{
    color: $color__offWhite;
  }
}
.track-index-content{
  display: flex;
  margin-top: 36px;

  color: $color__offWhite;
  .track-index-album, .track-index-lyrics{
    width: 50%;
    margin-right: 24px;
  }
}
#kashi{
  display: none;
}
.album-preview-art{
  height: 100px;
  width: 100px;
  min-width: 100px;

  margin-right: 12px;
}
.album-preview-container{
  width: 500px;
  color: $color__offWhite;

  a, a:hover{
    color: $color__offWhite;
  }
}
.album-preview-header{
  display: flex;
}
.album-preview-header-left{
  .album-download{
    display: block;

    margin-top: 6px;
  }
}
.album-preview-container{
  h1{
    font-size: 1.2em;
    font-weight: 400;

    margin-bottom: 9px;
  }
}
.album-preview-artist{
  
}
.album-preview-tracks-table, .album-index-tracks-table{
  margin-top: 24px;
  td{
    text-overflow: ellipsis;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;

    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    border: none;
    height: 20px;

    cursor: pointer;
  }
  tr{
    margin: 0 6px;
    border: none;
    border-radius: 3px;

    &:hover{
      background-color: rgba(0,0,0,0.5);
    }
    &.playing{
      td, a{
        color: $color__white;
        font-weight: 700;
      }
    }
  }
  th{
    text-align: left;
  }
}
.tracks-table-title{

}
.album-index-tracks-table{
  font-size: 14px;
  td{
    max-width: 500px;
  }
}
.album-index{
  display: flex;
  color: $color__offWhite;
  a, a:hover{
    color: $color__offWhite;
  }
}
.album-index-left{
  width: 300px;

  margin-right: 24px;
}
.album-preview-controls{
  width: 50px;

  display: flex;

  .album-preview-control{
    margin-right: 12px;

    transition: all 100ms ease-in-out;
  }
  .play-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    min-width: 18px;

    border-radius: 9px;

    font-size: 9px;
    border: 1px solid $color__offWhite;

    &:hover, &.playing{
      border: 1px solid $color__blue;
    }
  }
  .fa-download{
    color: $color__offWhite;
    font-size: 12px;
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }
}
.last-listened-to-container{
  background: linear-gradient(165deg, rgba(14, 135, 183, 0.65) 0, rgba(121, 39, 142, 0.89));
}