@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald');

$color__blue: #2cc9fb;
$color__darkerBlue: #3182b9;
$color__font: #333;
$color__fontInverted: #88898c;
$color__playerBg: white;
$color__black: #121314;
$color__white: #dfe0e6;
$color__offWhite: #88898c;
$color__lighterBlack: #1c1c1f;

$font__heading: "Oswald", sans-serif;
$font__content: 'Open Sans', sans-serif;

$transition__bounce: all .3s cubic-bezier(0,0,0,2.41);
$transition__linear: all 100ms ease-in-out;

@keyframes bounce{
  from{
    top: 84px;
  }
  50%{
    top: 80px;
  }

  to{
    top: 84px;
  }
}

@keyframes player-bounce{
  from{
    margin-top: -20px;
  }

  50%{
    margin-top: -5px;
  }
  to{
    margin-top: 0;
  }
}

@keyframes track-preview-bounce{
  from{
    margin-top: 9px;
  }

  50%{
    margin-top: 14px;
  }
  to{
    margin-top: 17px;
  }
}

@keyframes slide-down{
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}