<div class="content__spacer" style={{bodyStyle}}>
  {{header-container bodyStyle=bodyStyle}}
  {{outlet}}
</div>
{{now-playing-sidebar playMusic=playMusic track=selectedTrack trackList=trackList position=position pauseTrack=pauseTrack}}